h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

.title-card {
  background-color: #D95354;
  max-width: 600px;
  min-width: 200px;
  text-align: center;
  padding: 1em 2em;
  border-radius: 0.75em;
  margin: 1em;
  box-shadow: #101010 3px 3px;
}

@media only screen and (max-width: 500px) {
  .title-card {
    max-width: 450px;
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: .75em;
  }
}
